<li class="list-group-item d-flex justify-content-between align-items-center">
  <div>
    <strong>
      <% case relationship.relation_type
         when 'father' %> Ojciec
      <% when 'mother' %> Matka
      <% when 'spouse' %> Małżonek/małżonka
      <% when 'child' %> Dziecko
        <% else %><%= relationship.relation_type %>
      <% end %>:
    </strong>

    <%= link_to relationship.relative.first_name, group_ancestor_path(group, relationship.relative) %>
  </div>

  <%= button_to "Usuń",
                group_ancestor_relationship_path(group, ancestor, relationship),
                method: :delete,
                class: "btn btn-sm btn-outline-danger",
                form: { style: 'display:inline-block;' } %>
</li>