<div class="list-group mb-4">
  <div class="list-group-item list-group-item-light disabled text-uppercase small">
    Konto osobiste
  </div>

  <%= link_to user_profile_path, class: "list-group-item list-group-item-action #{'active' if request.path == user_profile_path}" do %>
  Mój profil
  <% end %>

  <%= link_to groups_path, class: "list-group-item list-group-item-action #{'active' if request.path == groups_path}" do %>
    Moje grupy
  <% end %>

  <%= link_to new_group_path, class: "list-group-item list-group-item-action #{'active' if request.path == new_group_path}" do %>
    Utwórz grupę
  <% end %>
</div>

<div class="d-grid">
  <%= button_to "Wyjść", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger btn-sm w-100" %>
</div>